name: Build PCFX Tools Windows
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          gcc -o pcfx-cdlink.exe pcfx-cdlink/pcfx-cdlink.c -static
          gcc -o pcfx-711.exe pcfx-711/pcfx-711.c -static
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: pcfx-tools
          path: "*.exe"
